<div class="col-8">
    <h1>Om NOR-WAY Bussekspress </h1>
    <br />

    <h4>
        NOR-WAY Bussekspress er en av Norges ledende ekspressbusskjeder med 14
        ruter som dekker store deler av Sør-Norge. Årlig reiser ca. 2 millioner
        passasjerer med oss.
    </h4>
    <br />

    <h2>Markedsføringsselskap</h2>
    <p>
        NOR-WAY Bussekspress AS er et markedsføringsselskap for ekspressrutene til de selskapene som er eiere av NOR-WAY Bussekspress.
        Driftsansvaret for de enkelte rutene ligger hos de kjørende selskap, og ca. halvparten av rutene opereres av to eller
        flere selskap i et samarbeid. Det er selskapene som kjører rutene som innehar konsesjonene og som har det fulle og hele
        ansvar for ruteopplegg, takster, rabatter og lignende.
    </p>
    <p>
        Som markedsføringsselskap er det NOR-WAY Bussekspress’ ansvar å drive riksdekkende markedsføring og
        merkevarebygging, samt å tilrettelegge for informasjon og salg til publikum via Internett.
    </p>
    <br />

    <h2>
        Hva kan vi tilby?
    </h2>
    <p>
        Er du lei av trange seter, dårlig benplass, lange innsjekkingskøer og stive priser på medbragt bagasje?
        Hos oss vil du oppleve ekstra seteavstand, de mest moderne og miljøvennlige bussene og noen av landets
        dyktigste og hyggeligste sjåfører.
    </p>
    <p>
        Vi vet at tilgjengelighet er svært viktig for våre reisende, også på nett. Du kan nå forhåndskjøpe din billett
        på nett for de fleste av våre ekspressbussruter. Det er også mulig å kjøpe billetten om bord i bussen ved
        påstigning. Du kan betale med kort på alle våre ekspressbusser.
    </p>
    <p>
        Vår viktigste oppgave er selvsagt å få deg trygt og behagelig frem til ditt bestemmelsessted, til riktig tid.
        Og vi tør faktisk å være stolte av vår punktlighet.
    </p>

    <br />
    <h2>
        Rammebetingelser
    </h2>
    <p>
        Vi er opptatt av å bedre rammebetingelsene for vår virksomhet gjennom å ha en tett og konstruktiv dialog
        med relevante myndigheter (departementer, fylkeskommuner, veimyndigheter og lignende), for på den måten å
        kunne tilby et enda bedre produkt for deg som reisende. Det kan handle om alt fra utforming av holdeplasser
        og terminaler, utbedring av veistandarden til generell bedret fremkommelighet for kollektivtrafikken –
        ikke minst med tanke på utbygging av kollektivfelt i og rundt de store byene i Norge.
    </p>

</div>